@import "tailwindcss";

.bg-bleue {
background-color: #01A7C2;
}

.text-ysabeau {
  font-family: "Ysabeau", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5em;
}


.text1-ysabeau {
  font-family: "Ysabeau SC", sans-serif;
  font-optical-sizing: auto;
}